<ion-view view-title="Login" name="login-view">
  <ion-header-bar align-title="center" class="bar-calm">
    <h1 class="title">But I Washed Dishes Yesterday</h1>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Email" ng-model="data.email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="data.password">
      </label>
    </div>
    <button class="button button-block button-calm" ng-click="login(data)">Login</button>
    <button class="button button-block button-stable" ng-click="signUp()">Sign Up</button>
    <button class="button button-block button-stable" ng-click="forgetPw()">Forgot Password</button>
    <button class="button button-block button-calm" ng-click="loginFb()">Login With Facebook</button>
    <button class="button button-block button-calm" ng-click="loginGoogle()">Login With Google</button>
  </ion-content>
</ion-view>
