<ion-side-menus>
  <!-- Center content -->
  <ion-side-menu-content>

    <ion-header-bar class="bar-calm">
      <button class="button button-icon" ng-click="toggleProjects()">
        <i class="icon ion-navicon"></i>
      </button>
      <h1 class="title">{{activeProject.name}}</h1>
    </ion-header-bar>

    <div class="spinner">
      <ion-spinner icon="android"></ion-spinner>
    </div>

    <ion-content scroll="true">
        <div class="row">
          <div class="col"></div>
          <div class="col" ng-repeat="(key, val) in activeProject.users track by $index" style="text-align:center">
            <image src="{{users[key].image}}" style="width: 32px"></image>
            {{users[key].name}}
          </div>
          <div class="col"></div>
        </div>

        <div class="row chore" on-hold="onHold(task_key)" ng-repeat="(task_key, task) in activeProject.chores">
          <div class="col">{{task.name}}</div>
          <span class="col" ng-repeat="(key, val) in activeProject.users track by $index" style="text-align:center">
            <b ng-if="val">
              {{task.counts[key]||0}}
            </b>
          </span>
          <button class="button-clear icon ion-plus col" ng-click="incCount(task_key)" style="text-align:right; font-size: 32px"></button>
        </div>

      <button id="firstNewHouse" class="button button-block button-calm" ng-click="newHouse()">Add your first household</button>
    </ion-content>

  </ion-side-menu-content>

  <!-- Left menu -->
  <ion-side-menu side="left">
    <ion-header-bar class="bar-calm">
      <h1 class="title">Projects</h1>
      <button class="button button-icon ion-plus" ng-click="newProject()">
      </button>
    </ion-header-bar>
    <ion-content scroll="true">
      <ion-list>
        <ion-item ng-repeat="project in projects" ng-click="selectProject(project, $index)" ng-class="{active: activeProject == project}">
          {{project.name}}
        </ion-item>
        <a class="item item-avatar" href="#">
          <image src="{{currentUserInfo.image}}"></image>
          <h2>{{currentUserInfo.name}}</h2>
          <p>Back off, man. I'm a scientist.</p>
        </a>
        <button class="item button button-full button-calm" ng-click="logout()">logout</button>
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>

<div class="bar bar-footer bar-calm">
  <button class="button" ng-click="newTask()">
    <i class="icon ion-plus-round"></i> Add Task
  </button>

  <button class="button" ng-click="friendModal.show()">
    <i class="icon ion-plus-round"></i> Add Friend
  </button>
</div>

<script id="new-task.html" type="text/ng-template">
  <div class="modal">
    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
      <h1 class="title">New Task</h1>
      <button class="button button-clear button-positive" ng-click="closeNewTask()">Cancel</button>
    </ion-header-bar>
    <!-- Modal content area -->
    <ion-content>
      <form ng-submit="createTask(task)">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="What do you want to do?" ng-model="task.name">
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Create Task</button>
        </div>
      </form>
    </ion-content>
  </div>
</script>

<script id="new-house.html" type="text/ng-template">
  <div class="modal">
    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
      <h1 class="title">New Household</h1>
      <button class="button button-clear button-positive" ng-click="closeNewHouse()">Cancel</button>
    </ion-header-bar>
    <!-- Modal content area -->
    <ion-content>
      <form ng-submit="createHouse(house)">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="What's the name of your place?" ng-model="house.name">
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Create Household</button>
        </div>
      </form>
    </ion-content>
  </div>
</script>

<script id="add-friend.html" type="text/ng-template">
  <div class="modal">
    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
      <h1 class="title">Add a Friend</h1>
      <button class="button button-clear button-positive" ng-click="friendModal.hide()">Cancel</button>
    </ion-header-bar>
    <!-- Modal content area -->
    <ion-content>
      <label class="item item-input">
        <input type="text" placeholder="Who do you want to add?" ng-model="searchString">
      </label>
      <div class="list list-inset">
        <div class="item" ng-repeat="u in users | searchFor:searchString" ng-click="addFriend(u.$id)">
          {{u.name}}
        </div>
      </div>
    </ion-content>
  </div>
</script>
