<ion-view view-title="SignUp" name="signup-view">
  <ion-header-bar align-title="center" class="bar-calm">
    <h1 class="title">Sign Up</h1>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Name: what should we call you" ng-model="data.name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Email" ng-model="data.email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="data.password">
      </label>
      <label class="item item-input" ng-class="{'input-error': data.password2.length > 3 &&(data.password != data.password2)}">
        <input type="password" placeholder="Confirm Password" ng-model="data.password2">
      </label>
    </div>
    <button class="button button-block button-calm" ng-click="signUp(data)">Sign Up</button>
  </ion-content>
</ion-view>
