/* Empty. Add your own CSS if you like */
.spinner svg {
  width: 19% !important;
  height: 85px !important;
}

div.spinner {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 85px;
  text-align: center;
}

.chore {
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    margin: -1px;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
}

.input-error {
  background-color: #FF0000;
}